{% extends 'base.html.twig' %}

{% block title %}News Portal - {{ categoryName|capitalize }}{% endblock %}

{% block categories %}
    <ul class="categories nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link {{ categoryName=='world' ? 'active' }}" href="/category/world">
                World
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ categoryName=='it' ? 'active' }}" href="/category/it">
                IT
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ categoryName=='sport' ? 'active' }}" href="/category/sport">
                Sport
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ categoryName=='science' ? 'active' }}" href="/category/science">
                Science
            </a>
        </li>
    </ul>


    <div class="d-flex flex-column flex-md-row align-items-md-center p-5">
        <div class="pt-md-3 pb-md-4">
            <h1 class="bd-title mt-0">{{ (categoryName == 'it') ? 'IT' : categoryName|capitalize }}</h1>
            <p class="bd-lead">{{ blockDescription ?? '' }}</p>
        </div>
    </div>

{% endblock %}

{% block body %}
<main class="index" role="main">
    {% set mainPost = posts.shift %}
    <div class="main-post">
        <img class="post-image" src= {{ mainPost.image == 'default.png'  ? ('/img/' . mainPost.image) : mainPost.image }} alt="">
        <small class="text-muted">{{ mainPost.publicationDate }}</small>
        <p class="post-text">
            {{ mainPost.description }}
        </p>
        <button type="button" class="btn btn-sm btn-outline-secondary">Read more</button>
        <div class="clearfix"></div>
    </div>

    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src={{ post.image == 'default.png'  ? ('/img/' . post.image) : post.image }} alt="">
                            <div class="card-body">
                                <p class="card-text">
                                    {{ post.description }}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Read</button>
                                    </div>
                                    <small class="text-muted">{{ post.publicationDate }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>
{% endblock %}
