{% extends 'base.html.twig' %}

{% block title %}News Portal - {{ item|capitalize }}{% endblock %}

{% block categories %}
    <ul class="categories nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link {{ item=='world' ? 'active' }}" href="/category/world">
                World
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ item=='it' ? 'active' }}" href="/category/it">
                IT
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ item=='sport' ? 'active' }}" href="/category/sport">
                Sport
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ item=='science' ? 'active' }}" href="/category/science">
                Science
            </a>
        </li>
    </ul>


    <div class="d-flex flex-column flex-md-row align-items-md-center p-5">
        <div class="pt-md-3 pb-md-4">
            <h1 class="bd-title mt-0">{{ (item == 'it') ? 'IT' : item|capitalize }}</h1>
            <p class="bd-lead">{{ blockDescription ?? '' }}</p>
        </div>
    </div>

{% endblock %}

{% block body %}
<main class="index" role="main">

    <div class="main-post">
        <img class="post-image" src= {{ posts[0].getImage }} alt="">
        <small class="text-muted">{{ posts[0].getPublicationDate.format(dateFormat) }}</small>
        <p class="post-text">
            {{ posts[0].getDescription }}
        </p>
        <button type="button" class="btn btn-sm btn-outline-secondary">Read more</button>
        <div class="clearfix"></div>
    </div>

    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for i in 1..3 %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src={{ posts[i].getImage }} alt="">
                            <div class="card-body">
                                <p class="card-text">
                                    {{ posts[i].getDescription }}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Read</button>
                                    </div>
                                    <small class="text-muted">{{ posts[i].getPublicationDate.format(dateFormat) }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>
{% endblock %}
