{% extends 'base.html.twig' %}

{% block title %}News Portal - Main {% endblock %}

{% block body %}
<main class="index" role="main">
    <div class="main-post">
        <img class="post-image" src= {{ posts[0].getImage }} alt="">
        <small class="text-muted">{{ posts[0].getPublicationDate }}</small>
        <p class="post-text">
            {{ posts[0].getDescription }}
        </p>
        <button type="button" class="btn btn-sm btn-outline-secondary">Read more</button>
        <div class="clearfix"></div>
    </div>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for i in 1..3 %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src={{ posts[i].getImage }} alt="">
                            <div class="card-body">
                                <p class="card-text">
                                    {{ posts[i].getDescription }}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Read</button>
                                    </div>
                                    <small class="text-muted">{{ posts[i].getPublicationDate }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
